@model IEnumerable<EmployeeManagement.Models.EmployeeModel>


&nbsp; &nbsp;Get All Employees

<p>
  
</p>
<table class="table">
    <tr>
        <th>
           Employee Id
        </th>
        <th>
            Employee Name
        </th>
        <th>
           Employee Age
        </th>
        <th>
           Salary(In Lakh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salaryInLakh)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteEmployee", new { id=item.employeeId })
        </td>
    </tr>
}

</table>
